<% @messages.each do |message| %>
  <div>
    <p>【メールアドレス】 <%= message.user.email %></p>
    <p>【内容】 <%= message.content %></p>
    <p>
      <%# message_path:rails routesで確認できる。messages#destroyのURI欄の「messages」 %>
      <%# (message):どのメッセージを削除するかが必要になる。each文の|message|対応するメッセージ %>
      <%# method: :delete→message_pathだけだと伝わらないのでメソッドの指定 %>
      <%= link_to "削除", message_path(message), method: :delete, data: { confirm: "削除しますか？" } %>
    </p>
  </div>
  <hr>
<% end %>